%html
  %head
    %link{:href => "/css/template.css", :rel => "stylesheet", :type => "text/css"}
    -# %link{:href => "/styles/home.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %div.header
      %img{:src => "https://res.wx.qq.com/mpres/htmledition/images/new/logo17b7fa.png"}
    %ul.content
      %li test text
